{% extends 'reader/base.html' %}

{% block title %}Home{% endblock %}

{%  block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div>Hi {{ user.username }}!
                <p><a href="{% url 'logout' %}">logout</a></p>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile">
                    <button type="submit">Upload</button>
                </form>

                {% if upload_confirm %}
                    <p>Your file is successfully uploaded and processed</p>
                {% endif %}
            </div>
            <div>
            <p><a href="{% url 'create_json' %}">Get json file of your uploaded bank statements</a></p>
            </div>


        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>


{% endblock %}